In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Appliance_data.csv')

/var/folders/x7/f572_pld245ff6yylcqfmhtr0000gn/T/ipykernel_35064/1126846036.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Appliance_data.csv')

In [3]:
pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d %H:%M:%S')

,Unnamed: 0,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,television,fan,fridge,laptop computer,electric heating element,oven,unknown,washing machine,microwave,toaster,sockets,cooker
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-07-05 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2015-07-05 00:00:01+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2015-07-05 00:00:02+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015-07-05 00:01:33+02:00,0.0,29.65,97.2062711864,29.465,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0
96,2015-07-05 00:01:34+02:00,0.0,29.65,97.1793220339,29.37,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0
97,2015-07-05 00:01:35+02:00,0.0,29.65,97.1523728814,29.275,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0
98,2015-07-05 00:01:36+02:00,0.0,29.65,97.1254237288,29.18,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0
99,2015-07-05 00:01:37+02:00,0.0,29.65,97.0984745763,29.085,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0

In [4]:
df.tail()

,Unnamed: 0,2,3,4,5,6,7,8,9,10,11,12,13
13301996,2015-12-05 22:59:54+01:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.95,1.24,NaN,1.39,0.0
13301997,2015-12-05 22:59:55+01:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13301998,2015-12-05 22:59:56+01:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13301999,2015-12-05 22:59:57+01:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,0.0
13302000,2015-12-05 22:59:58+01:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.24,NaN,1.39,NaN

___

Checking CBS data set

In [1]:
import cbsodata

In [7]:
toc = pd.DataFrame(cbsodata.get_table_list())

In [8]:
toc

,Updated,ID,Identifier,Title,ShortTitle,ShortDescription,Summary,Modified,MetaDataModified,ReasonDelivery,...,Period,SummaryAndLinks,ApiUrl,FeedUrl,DefaultPresentation,DefaultSelection,GraphTypes,RecordCount,ColumnCount,SearchPriority
0,2021-11-01T02:00:00,0,84669NED,Banen van werknemers; internationaliseringsken...,Banen; internationalisering bedrijven,\nDeze tabel bevat informatie over werknemersb...,"werknemersbanen, voltijdequivalenten, arbeidsv...",2020-12-14T02:00:00,2021-11-01T02:00:00,Stopgezet,...,2010 t/m 2018,"werknemersbanen, voltijdequivalenten, arbeidsv...",https://opendata.cbs.nl/ODataApi/OData/84669NED,https://opendata.cbs.nl/ODataFeed/OData/84669NED,ts=1606984891185&graphtype=Table&r=Internation...,$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Bar,Line",304128,10,1
1,2021-11-05T02:00:00,1,83583NED,Banen van werknemers; bedrijfsgrootte en econo...,Banen van werknemers; bedrijfsgrootte,\nDeze tabel geeft informatie over het gemidde...,Gemiddeld aantal banen van werknemers in decem...,2021-11-05T02:00:00,2021-11-05T02:00:00,Actualisering,...,2010 december - 2020 december,Gemiddeld aantal banen van werknemers in decem...,https://opendata.cbs.nl/ODataApi/OData/83583NED,https://opendata.cbs.nl/ODataFeed/OData/83583NED,"ts=1635771190489&graphtype=Table&r=Perioden,Be...",$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Bar,Line",8184,4,2
2,2021-11-05T02:00:00,2,83582NED,Banen van werknemers in december; economische ...,"Banen van werknemers; SBI2008, regio",\nDeze tabel geeft informatie over het gemidde...,"Gemiddeld aantal banen werknemers in december,...",2021-11-05T02:00:00,2021-11-05T02:00:00,Actualisering,...,2010-2020,"Gemiddeld aantal banen werknemers in december,...",https://opendata.cbs.nl/ODataApi/OData/83582NED,https://opendata.cbs.nl/ODataFeed/OData/83582NED,ts=1635768991535&graphtype=Table&r=Bedrijfstak...,$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Map",172480,4,3
3,2022-01-21T02:00:00,3,83628NED,Banen van werknemers naar woon- en werkregio,Woon-werkafstand werknemers; regio,\nDeze tabel brengt het aantal banen van werkn...,"Banen van werknemers, woonregio, werkregio\nBa...",2022-01-21T02:00:00,2022-01-21T02:00:00,Actualisering,...,2014-2020,"Banen van werknemers, woonregio, werkregio<br ...",https://opendata.cbs.nl/ODataApi/OData/83628NED,https://opendata.cbs.nl/ODataFeed/OData/83628NED,"ts=1642524267970&graphtype=Table&r=WoonregioS,...",$filter=((WoonregioS eq 'NL01 ') or (Woonregi...,"Table,Bar,Map",1586032,5,2
4,2022-01-21T02:00:00,4,83658NED,"Banen van werknemers; geslacht, leeftijd, woon...","Woon-werkafstand; geslacht, leeftijd",\nDeze tabel brengt het aantal banen van werkn...,"Banen van werknemers naar geslacht, leeftijd, ...",2022-01-21T02:00:00,2022-01-21T02:00:00,Actualisering,...,2014-2020,"Banen van werknemers naar geslacht, leeftijd, ...",https://opendata.cbs.nl/ODataApi/OData/83658NED,https://opendata.cbs.nl/ODataFeed/OData/83658NED,"ts=1642510021931&graphtype=Table&r=WoonregioS,...",$filter=((Geslacht eq 'T001038')) and ((Leefti...,"Table,Bar,Map",1270500,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5008,2019-03-26T02:00:00,5008,37112ENG,Number of motorcycles on 1-1-2000,Motorcycles on 1-1-2000,\nThis table was cancelled.\n,Cancelled\nCancelled,2000-11-24T14:05:00,2019-03-26T02:00:00,Discontinued,...,1999 - 1900,"Cancelled<br />Cancelled<br /><a href=""http://...",https://opendata.cbs.nl/ODataApi/OData/37112ENG,https://opendata.cbs.nl/ODataFeed/OData/37112ENG,ts=1553170942702&graphtype=Table&r=Topics&k=Ye...,$filter=((YearOfConstruction eq '00'))&$select...,Table,2,3,0
5009,2018-06-25T02:00:00,5009,81821ENG,"Transport and storage; turnover change, index ...","Transport; turnover, index 2010=100",\nThis table presents information on quarterly...,Transport and storage. Turnover: index 2010=10...,2018-02-28T02:00:00,2018-06-25T02:00:00,Discontinued,...,"2005-2017, 2005 kWI-2017 kWIV",Transport and storage. Turnover: index 2010=10...,https://opendata.cbs.nl/ODataApi/OData/81821ENG,https://opendata.cbs.nl/ODataFeed/OData/81821ENG,ts=1519652129937&graphtype=Table&r=Periods&k=T...,$filter=((SectorBranches eq '383100')) and ((P...,"Table,Bar,Line",1495,4,1
5010,2013-06-11T02:00:00,5010,80079eng,"Transport and storage; turnover development, S...","Transport; turnover, 2005 - 2012",\nThis table provides information on quarterly...,"Transport and storage; turnover, 2005 - 2012\n...",2013-06-11T02:00:00,2013-06-07T02:00:00,Correctiontext,...,2005 - 2012; 2005 1st quarter - 2012 4th quarter,"Transport and storage; turnover, 2005 - 2012<b...",https://opendata.cbs.nl/ODataApi/OData/80079eng,https://opendata.cbs.nl/ODataFeed/OData/80079eng,graphType=table,$filter=((BranchesSIC2008 eq '383100') or (Bra...,"Table,Bar,Line",880,4,1
5011,2016-04-26T02:00:00,5011,81157eng,"Transport, storage and communications; finance...","Transport, storage; SIC 2008, 2009-2013",\nThis table shows relevant data for the econo...,"Transport; jobs, labour volume, costs and reve...",2016-04-22T02:00:00,2016-04-26T02:00:00,Discontinued,...,2009-2013,"Transport; jobs, labour volume, costs and reve...",https://opendata.cbs.nl/ODataApi/OData/81157eng,https://opendata.cbs.nl/ODataFeed/OData/81157eng,graphType=table,$filter=((SectorBranchesSIC2008 eq '383100') o...,"Table,Bar,Line",105,33,1
5012,2011-09-01T02:00:00,5012,71844eng,"Transport, storage and communications; finance...","Transport, storage; finance, 2006 - 2008",\nThis table shows relevant data for the econo...,"Persons employed, costs and revenues, turnover...",2010-07-01T02:00:00,2011-09-01T02:00:00,Correctiontext,...,2006-2008,"Persons employed, costs and revenues, turnover...",https://opendata.cbs.nl/ODataApi/OData/71844eng,https://opendata.cbs.nl/ODataFeed/OData/71844eng,graphType=table,$filter=((SectorBranchesSIC93 eq 'I ') or...,"Table,Bar,Line",81,32,1

In [29]:
# Collecting table identifiers with following keywords in their Title
keywords = ['elektriciteit', 'energie', 'consumptie', 'demand']
identifiers = []
for keyword in keywords:
    identifiers = identifiers + toc[toc['Title'].str.contains(keyword)]['Identifier'].to_list()

In [32]:
shortlisted = toc[toc['Identifier'].isin(identifiers)]

In [35]:
shortlisted.to_excel('shortlisted.xlsx')

Translated and scanned through the excel file manually to shortlist following titles

In [48]:
titles = ["Aardgas en elektriciteit, gemiddelde prijzen van eindverbruikers", "Gemiddelde energietarieven voor consumenten", "Hernieuwbare energie; zonnestroom, windenergie, RES-regio", "Hernieuwbare elektriciteit; productie en vermogen ", "Windenergie op land; productie en capaciteit naar ashoogte", "Windenergie op land; productie en capaciteit per provincie", "Bestedingen; consumptie huishoudens 1995-2019", "Aanbod en gebruik energie; energiedragers, huishoudens en bedrijven (NR)", "Energieverbruik en energiekosten; intramurale gezondheidszorg, 1986 - 2000", "Energieverbruik huishoudens; energiedragers, 1975-2016", "Energieverbruik en energiekosten; land - en tuinbouw, 1989 - 2006", "Energieverbruik nijverheid (excl. energiesector); energiedragers, 1975-2012"]

In [53]:
id = toc[toc['Title'].isin(titles)]['Identifier'].to_list()

In [54]:
shortlisted = toc[toc['Identifier'].isin(id)]

In [55]:
shortlisted.to_excel('shortlisted.xlsx')

In [56]:
shortlisted

,Updated,ID,Identifier,Title,ShortTitle,ShortDescription,Summary,Modified,MetaDataModified,ReasonDelivery,...,Period,SummaryAndLinks,ApiUrl,FeedUrl,DefaultPresentation,DefaultSelection,GraphTypes,RecordCount,ColumnCount,SearchPriority
536,2022-02-18T02:00:00,536,84672NED,Gemiddelde energietarieven voor consumenten,Gemiddelde energietarieven,\nDeze tabel bevat cijfers over de consumenten...,Gemiddelde energietarieven voor consumenten\nA...,2022-02-18T02:00:00,2022-02-18T02:00:00,Actualisering,...,januari 2018 - januari 2022,Gemiddelde energietarieven voor consumenten<br...,https://opendata.cbs.nl/ODataApi/OData/84672NED,https://opendata.cbs.nl/ODataFeed/OData/84672NED,ts=1645026965497&graphtype=Table&r=Perioden&k=...,$filter=((Btw eq 'A048944')) and ((Perioden eq...,"Table,Bar,Line",106,13,2
544,2021-12-10T02:00:00,544,85004NED,"Hernieuwbare energie; zonnestroom, windenergie...","Hernieuwbare energie,zon,wind,RES-regio",\nDeze tabel bevat cijfers over het opgestelde...,"Hernieuwbare energie, zonnestroom, wind op lan...",2021-12-10T02:00:00,2021-12-10T02:00:00,Actualisering,...,2018 - 2020,"Hernieuwbare energie, zonnestroom, wind op lan...",https://opendata.cbs.nl/ODataApi/OData/85004NED,https://opendata.cbs.nl/ODataFeed/OData/85004NED,ts=1625757609747&graphtype=Table&r=RegioS&k=Br...,$filter=((RegioS eq 'NL01 ') or (RegioS eq 'E...,"Table,Bar,Line",1032,6,2
545,2021-12-10T02:00:00,545,82610NED,Hernieuwbare elektriciteit; productie en vermo...,Hernieuwbare elektriciteit,\nDeze tabel bevat gegevens over de Nederlands...,Productie en vermogen van hernieuwbare elektri...,2021-12-10T02:00:00,2021-12-10T02:00:00,Actualisering,...,1990 - 2020,Productie en vermogen van hernieuwbare elektri...,https://opendata.cbs.nl/ODataApi/OData/82610NED,https://opendata.cbs.nl/ODataFeed/OData/82610NED,ts=1638879142570&graphtype=Table&r=BronTechnie...,$filter=((BronTechniek eq 'T001028 ') or (Bron...,"Table,Bar,Line",465,10,2
548,2021-12-16T02:00:00,548,71227ned,Windenergie op land; productie en capaciteit n...,Windenergie op land; naar ashoogte,\nIn deze tabel zijn cijfers opgenomen over de...,"Elektriciteitsproductie, opgestelde capaciteit...",2021-12-16T02:00:00,2021-12-16T02:00:00,Actualisering,...,1990 - 2020,"Elektriciteitsproductie, opgestelde capaciteit...",https://opendata.cbs.nl/ODataApi/OData/71227ned,https://opendata.cbs.nl/ODataFeed/OData/71227ned,"ts=1624879704461&graphtype=Table&r=Perioden,As...",$filter=((Perioden eq '2019JJ00') or (Perioden...,"Table,Bar,Line",186,15,2
549,2021-12-16T02:00:00,549,70960ned,Windenergie op land; productie en capaciteit p...,Windenergie op land; per provincie,\nIn deze tabel zijn cijfers per provincie opg...,"Elektriciteitsproductie, vermogen, rotoropperv...",2021-12-16T02:00:00,2021-12-16T02:00:00,Actualisering,...,1990 - 2020,"Elektriciteitsproductie, vermogen, rotoropperv...",https://opendata.cbs.nl/ODataApi/OData/70960ned,https://opendata.cbs.nl/ODataFeed/OData/70960ned,"ts=1624879131796&graphtype=Table&r=RegioS,Peri...",$filter=((Perioden eq '2019JJ00') or (Perioden...,"Table,Bar,Line,Map",403,16,2
740,2019-09-19T06:30:00,740,70076ned,Bestedingen; consumptie huishoudens 1995-2019,Bestedingen; consumptie huishoudens,\nDeze tabel bevat cijfers over de bestedingen...,"Mutaties, indexcijfers, aandelen en waarden va...",2019-08-21T06:30:00,2019-09-19T06:30:00,Stopgezet,...,1995 januari - 2019 juni,"Mutaties, indexcijfers, aandelen en waarden va...",https://opendata.cbs.nl/ODataApi/OData/70076ned,https://opendata.cbs.nl/ODataFeed/OData/70076ned,ts=1566293401069&graphtype=Table&r=GoederenEnD...,$filter=((GoederenEnDiensten eq ' 8000') ...,"Table,Bar,Line",15808,9,1
890,2021-11-04T09:30:00,890,84450NED,"Aanbod en gebruik energie; energiedragers, hui...",Aanbod en gebruik energie (NR),\nAls onderdeel van de milieurekeningen stelt ...,"Fysieke energiestromen: winning, import, produ...",2021-11-04T09:30:00,2021-11-04T09:30:00,ActualiseringBijzonder,...,2000 t/m 2019,"Fysieke energiestromen: winning, import, produ...",https://opendata.cbs.nl/ODataApi/OData/84450NED,https://opendata.cbs.nl/ODataFeed/OData/84450NED,ts=1635343521098&graphtype=Table&r=Energiedrag...,$filter=((NederlandseEconomie eq 'B000579') or...,"Table,Bar,Line",49200,9,2
2336,2017-09-21T02:00:00,2336,7445,Energieverbruik en energiekosten; intramurale ...,"Energieverbruik gezondheidsz., 1986-2000",\nDeze tabel bevat gegevens over het energieve...,Energiekosten en - verbruik in intramurale zor...,2005-10-11T10:07:00,2017-09-21T02:00:00,Stopgezet,...,1986 - 2000,Energiekosten en - verbruik in intramurale zor...,https://opendata.cbs.nl/ODataApi/OData/7445,https://opendata.cbs.nl/ODataFeed/OData/7445,graphtype=Table&r=Topics&k=Perioden&t=SBI93,$filter=((SBI93 eq '10005')) and ((Perioden eq...,"Table,Bar,Line",40,16,1
2337,2017-12-22T02:00:00,2337,82375NED,"Energieverbruik huishoudens; energiedragers, 1...","Energieverbruik huishoudens, 1975-2016",\nDeze tabel geeft het verbruik van energie we...,"Energieverbruik uit steenkool, bruinkool, aard...",2017-07-11T02:00:00,2017-12-22T02:00:00,Stopgezet,...,1975 - 2016,"Energieverbruik uit steenkool, bruinkool, aard...",https://opendata.cbs.nl/ODataApi/OData/82375NED,https://opendata.cbs.nl/ODataFeed/OData/82375NED,graphType=table,$filter=((Energiedragers eq '1 ') or (Energied...,"Table,Bar,Line",378,3,1
2339,2017-09-20T02:00:00,2339,7447,Energieverbruik en energiekosten; land - en tu...,"Energieverbruik land-/tuinbouw,1989-2006",\nDe tabel bevat gegevens over het energieverb...,Energieverbruik van de land - en tuinbouwbedri...,2010-02-23T02:00:00,2017-09-20T02:00:00,Stopgezet,...,1989 - 2006,Energieverbruik van de land - en tuinbouwbedri...,https://opendata.cbs.nl/ODataApi/OData/7447,https://opendata.cbs.nl/ODataFeed/OData/7447,"graphtype=Table&r=BedrijfSector,Perioden&k=Topics",$filter=((BedrijfSector eq '10') or (BedrijfSe...,"Table,Bar,Line",468,52,1
2340,2017-09-26T02:00:00,2340,82369NED,Energieverbruik nijverheid (excl. energiesecto...,"Energieverbruik nijverheid, 1975 - 2012",\nDeze tabel geeft het verbruik van energie we...,"Energieverbruik uit steenkool, bruinkool, aard...",2014-02-06T02:00:00,2017-09-26T02:00:00,Stopgezet,...,1975 - 2012; 1999 1e kwartaal - 2010 4e kwartaal,"Energieverbruik uit steenkool, bruinkool, aard...",https://opendata.cbs.nl/ODataApi/OData/82369NED,https://opendata.cbs.nl/ODataFeed/OData/82369NED,graphType=table,$filter=((Energiedragers eq '1 ') or (Energied...,"Table,Bar,Line",1032,3,1

In [61]:
identifier = '84450NED'

In [62]:
data = pd.DataFrame(cbsodata.get_data(identifier))

In [66]:
data

,ID,NederlandseEconomie,Energiedragers,Perioden,Winning_1,IntermediairEnHuishoudelijkVerbruik_2,Invoer_3,Productie_4,NettoEnergieverbruik_5,Uitvoer_6
0,0,Nederlandse economie totaal,Totaal energiedragers,2000,NaN,6990.2,5274.2,5664.2,3641.6,3939.1
1,1,Nederlandse economie totaal,Totaal energiedragers,2001,NaN,7101.7,5652.2,5840.9,3735.4,4471.6
2,2,Nederlandse economie totaal,Totaal energiedragers,2002,NaN,6769.7,5326.8,5694.2,3504.7,4371.1
3,3,Nederlandse economie totaal,Totaal energiedragers,2003,NaN,7043.6,5561.9,5739.1,3653.8,4333.5
4,4,Nederlandse economie totaal,Totaal energiedragers,2004,NaN,7249.3,5828.7,6301.4,3679.4,4932.2
...,...,...,...,...,...,...,...,...,...,...
49195,49195,"90-92 Kunst, cultuur en kansspelen",Niet-hernieuwbaar afval,2015,NaN,0.0,NaN,NaN,NaN,NaN
49196,49196,"90-92 Kunst, cultuur en kansspelen",Niet-hernieuwbaar afval,2016,NaN,0.0,NaN,NaN,NaN,NaN
49197,49197,"90-92 Kunst, cultuur en kansspelen",Niet-hernieuwbaar afval,2017,NaN,0.0,NaN,NaN,NaN,NaN
49198,49198,"90-92 Kunst, cultuur en kansspelen",Niet-hernieuwbaar afval,2018,NaN,0.0,NaN,NaN,NaN,NaN
49199,49199,"90-92 Kunst, cultuur en kansspelen",Niet-hernieuwbaar afval,2019,NaN,0.0,NaN,NaN,NaN,NaN